<h4>QRprint Settings</h4>
<form class="form-horizontal">
	<p>
		Einstellungen damit der Drucker weiß wo die Dateien herkommen
	</p>
	
	<div class="control-group">
        <label class="control-label">Ordner von dem die Dateien Kommen</label>
        <div class="controls">
            <textarea rows="8" class="input-block-level" data-bind="value: settings.plugins.continuousprint.qp_copydir"></textarea>
        </div>
    </div>
	
	<div class="control-group">
        <label class="control-label">Ordner in dem die Dateien Kommen</label>
        <div class="controls">
            <textarea rows="8" class="input-block-level" data-bind="value: settings.plugins.continuousprint.qp_homedir"></textarea>
        </div>
    </div>
    
    	<div class="control-group">
        <label class="control-label">suffix das an den gcode gehängt wird</label>
        <div class="controls">
            <textarea rows="8" class="input-block-level" data-bind="value: settings.plugins.continuousprint.qp_sufix"></textarea>
        </div>
    </div>
</form>
